#Navbar{
    background-color: green;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    align-items: center;
}
.NavbarLink{
    text-decoration: none;
    color: white;
}
